<!DOCTYPE html>
<html>
    <body>
        <form action="/horoscope_results" method="GET">
            What is your name?
            <input type="text" name="name"><br><br>
            Select your Horoscope Sign<br>
            <select name="horoscope_sign">
                <option value="capricorn">December 22 - January 19 | ♑️</option>
                <option value="aquarius">January 20 - February 18 | ♒️</option>
                <option value="pisces">February 19 - March 20 | ♓️</option>
                <option value="aries">March 21 - April 19 | ♈️</option>
                <option value="taurus">April 20 - May 20 | ♉️</option>
                <option value="gemini">May 21 - June 21 | ♊️</option>
                <option value="cancer">June 22 - July 22 | ♋️</option>
                <option value="leo">July 23 - August 22 | ♌️</option>
                <option value="virgo">August 23 - September 22 | ♍️</option>
                <option value="libra">September 23 - October 22 | ♎️</option>
                <option value="scorpio">October 23 - November 21 | ♏️</option>
                <option value="sagitarius">November 22 - December 21 | ♐️</option>
            </select><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>